<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69699d">  <td>14/08/12 14:26:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageTopic.ManageTopic()[pri:0, instance:Test.ManageTopic@6b29e6]">ManageTopic</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="69699d">  <td>14/08/12 14:26:53</td>   <td>47192</td> <td>&nbsp;</td><td title="&lt;&lt;ManageTopic.after()[pri:0, instance:Test.ManageTopic@6b29e6]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="69699d">  <td>14/08/12 14:26:03</td>   <td>-2951</td> <td>&nbsp;</td><td title="&gt;&gt;ManageTopic.start()[pri:0, instance:Test.ManageTopic@6b29e6]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17510567</td>   <td></td> </tr>
</table>
